.decisionContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.decisionTextContainer {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.decisionTitle {
	font-family: var(--font-display);
	font-size: 150px;
	text-transform: uppercase;
	line-height: 136px;
	letter-spacing: -0.04em;
	text-align: center;
	margin: 0;
	color: var(--color-text);
}

.decisionDescription {
	padding: 0 135px;
	text-align: center;
}
