.drawerContainer {
	display: flex;
	flex-direction: column;
	gap: var(--space-xl);
}

.drawerTitle {
	font-family: var(--font-display);
	color: var(--color-white);
	text-transform: uppercase;
	font-size: var(--text-lg);
	letter-spacing: var(--tracking-tight);
	line-height: var(--leading-tight);
	margin-bottom: 0;
}

.drawerSubtitle {
	color: var(--color-description);
}

.drawerContentContainer {
	display: flex;
	flex-direction: column;
	gap: var(--space-lg);
}

.decisionContainer {
	border: 1px solid var(--color-description-secondary);
	border-radius: var(--radius-md);
	padding: 0 var(--space-xs);
	color: var(--color-description);
	padding: var(--space-md);
}

.decisionIntro {
	font-family: var(--font-display);
	text-transform: uppercase;
	font-size: var(--text-2xs);
	margin: 0;
}

.title {
	color: var(--color-white);
	font-size: var(--text-md);
}

hr {
	border: none;
	height: 1px;
	background-color: var(--color-description-secondary);
	margin: 0;
}

.subtitle {
	font-size: var(--text-2xs);
	font-style: italic;
}

.difficultyContainer {
	display: flex;
	align-items: center;
	gap: var(--space-2xs);
}

.difficulty {
	font-size: var(--text-2xs);
	margin: 0;
}

.buttonsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-xs);
	margin-top: var(--space-lg);
}

.buttonsContainer button {
	flex: 1;
}
