.logoContainer {
	display: flex;
	gap: 8px;
}

.logoOrange,
.logoPurple {
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.logoOrange {
	background-color: var(--color-accentuation);
	animation: floatOrange 3.7s ease-in-out infinite;
}

.logoPurple {
	background-color: var(--color-accentuation2);
	animation: floatPurple 4.3s ease-in-out infinite;
}

@keyframes floatOrange {
	0%,
	100% {
		transform: translate(0, 0) scale(1);
	}

	25% {
		transform: translate(2px, -5px) scale(1.05);
	}

	55% {
		transform: translate(-1px, -2px) scale(0.97);
	}

	80% {
		transform: translate(1px, 2px) scale(1.02);
	}
}

@keyframes floatPurple {
	0%,
	100% {
		transform: translate(0, -2px) scale(1);
	}

	20% {
		transform: translate(-2px, 2px) scale(0.98);
	}

	50% {
		transform: translate(1px, -4px) scale(1.04);
	}

	75% {
		transform: translate(2px, 1px) scale(1);
	}
}
