@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600;700&display=swap");

:root {
	/* Fonts */
	--font-display: "Dela Gothic One", sans-serif;
	--font-body: "Inter", sans-serif;

	/* Colors */
	--color-background: #0d0b10;
	--color-text: #edebe5;
	--color-description: #545267;
	--color-secondary: #eb5a1d;
	--color-terciary: #6529fa;
	--color-white: #ffffff;

	--color-secondary-transparent: #eb5a1d12;
	--color-terciary-transparent: #6529fa12;
	--color-white-transparent: #ffffff12;

	--color-success: #22c55f;
	--color-error: red;
}

* {
	box-sizing: border-box;
}

html,
body,
#root {
	margin: 0;
	min-height: 100%;
}

body {
	min-width: 320px;
	min-height: 100vh;
	background-color: #0f0e11;
	color: var(--color-text);
}

h1 {
	font-family: var(--font-display);
	text-transform: uppercase;
}

p {
	font-family: var(--font-body);
	font-size: 14px;
}
