.errorContent {
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.errorTitle {
	font-family: var(--font-display);
	font-size: 200px;
	text-transform: uppercase;
	letter-spacing: -0.04em;
	line-height: 150px;
	margin: 0;
	color: var(--color-text);
}

.errorDescription {
	color: var(--color-description);
}

.divider {
	width: 100%;
	border: 0.5px solid var(--color-description);
}
